Mini-WebserviceApp_inJava/clientJSP/TestCalculJsp/src/conf/xml-resources/web-service-references/CalculWS/wsdl/localhost_8080/Calcul/CalculWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="somme" type="tns:somme"/>

<xs:element name="sommeResponse" type="tns:sommeResponse"/>

<xs:complexType name="somme">
<xs:sequence>
<xs:element name="val1" type="xs:int"/>
<xs:element name="val2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sommeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>